body {
  margin: 0;
  padding: 0;
  /* Degradado profundo de medianoche */
  background: radial-gradient(circle at center, #1e293b 0%, #020617 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}